.home { 
    position: absolute; 
    width: 100%; /* for IE 6 */
 }
 
.home-content{


    position: absolute; 
    top: 9%; 
    left: 0; 
    width: 100%; 
    padding-right: 40%;
    padding-bottom: 5%;
 }
 
 .image{
     border-radius:100% 0px 0px 0px;
     /* border */
/* border-image: linear-gradient(red, blue) 27; */
    /* Add the blur effect */
    /* filter: blur(0px); */
  
    /* Full height */
    /* width:30%; */
    height:100%;
    position: fixed;
    top: 20px;
    right: 0;
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;

 }