/* .home { 
    position: absolute; 
    width: 100%; 
 }
 
.home-content{
    position: absolute; 
    top: 9%; 
    left: 0; 
    width: 100%; 
    padding-right: 40%;
    padding-bottom: 5%;
 }
 
 .image{
    width:auto;;
    height:auto;
    background-repeat: no-repeat;
    background-size: cover;

 } */