body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/*   background-color: #1e2130; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  background: #fefefe;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #8ba1b6; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:   #163450; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(209, 56%, 12%); 
}


/* GLOBAL FONT-SIZE */
h3{
  font-size:20px !important;
}
h4{
  font-size: 18px !important;
}
h5{
  font-size: 16px !important;
}