.aboutJumboTron{
    /* padding-top: -7% !important; */
    margin-top: -1.5%;
    width: 100% !important;
    margin-bottom: 15%;
    /* padding-bottom: 15%; */
    padding-right: 10%;
    padding-left:10%;
    height:300px;
    align-items: center;

}
.projectBlock{
    background-color: #e9ecef ;
    margin-top: -2% !important;
    height: 120%;
} 
img.project-carousel{
    border-radius: 25px;
    border: 2px solid #163450;
    height:auto;
    width: auto;
}
@media only screen and (max-width: 400px){
    .aboutJumboTron{
        padding-right: 0%;
        padding-left:0%;
        margin-bottom:35% ;
    }

}

