.aboutJumboTron{
    /* padding-top: -7% !important; */
    width: auto !important;
    margin-top: 12%;
    margin-bottom: 15%;
    padding-right: 10%;
    padding-left:10%;
    height:600px;
    align-items: center;
}
.projectBlock{
    padding-top: -10% !important;
    margin-top: -15%;
} 
img.project-carousel{
    border-radius: 25px;
    border: 2px solid #163450;
    height:400px;
    width: auto;
}
@media only screen and (max-width: 400px){
    .aboutJumboTron{
        padding-right: 0%;
        margin-top: 8% !important;
        padding-left:0%;
        margin-bottom:35% !important;
        height:300px !important;
    }
    img.project-carousel{
        height:200px !important;
    }
}

@media only screen and (min-width: 1600px){
    .aboutJumboTron{
        height:650px !important;
        margin-bottom:5% !important;
    }

}

.certificates{
    margin-left: 3%;
    margin-right: 3%;
}