.main-nav-active{
    color:#ccbc28 !important;
}
#div1 {
    position:absolute;
    top:1px;
    left:9px;
    background-color:#1e2130;
    border:2px double dashed #444444;
    border-block-start-color: #CFD8DC;
    border-block-start-width: 0.3ch;
    border-block-start-style: double;
    border-block-end-color: #CFD8DC;
    border-block-end-width: 0.3ch;
    border-block-end-style: double;
    border-radius:5px;
    /* box-shadow: 2px;  */
  }

