.main-nav-active{
    color:#f1de2a !important;
}
#div1 {
    position:absolute;
    top:1px;
    left:9px;
    background-color:#1e2130;
    border:2px hidden #444444;
    border-block-start-color: #7b898f;
    border-block-start-width: 0.3ch;
    border-block-start-style: solid;
    border-block-end-color: #7b898f;
    border-block-end-width: 0.5ch;
    border-block-end-style: dashed;
    border-radius:5px;
    color:#c5dcf5;
    /* box-shadow: 2px;  */
  }
  #div2{
    width: fit-content;
    background-color:#1e2130;
    border:2px hidden #444444;
    border-block-start-color: #f0ed30;
    border-block-start-width: 0.3ch;
    border-block-start-style: solid;
    border-block-end-color: #f0ed30;
    border-block-end-width: 0.5ch;
    border-block-end-style: dashed;
    border-radius:5px;
    color:#c5dcf5;
    /* align-content: left; */
    /* box-shadow: 2px;  */
  }

